.icon-menu, .icon-facebook{
    margin: auto 0;
    line-height: 35px;
    color: white;
    display: block;
    font-size: 28px;
    background: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    z-index: 10000;
}
#btn-menu{
    display: none
}
#btn-menu:checked ~ .nav{
    transform: translateX(2.5%);
}
#btn-menu:checked ~ .icon-menu{
    color: gray
}
.nav{
    position: fixed;
    transform: translateX(-100%);
    transition: all 0.3s;
    top: 20px;
    padding-top: 40px;
    left: 0px;
    width: 95%;
    height: 350px;
    background: rgba(0,0,0,0.8);
}
.menu{
    margin-left: -2;
    list-style: none;
}
.menu_item{
    margin-left: -40px;
}
.menu_link{
    display: block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(191,191,191,0.7);
    text-align: center
}
.menu_link:hover{
    background: rgba(91,91,91,0.7);
}