@import url(https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz);
@import url(css/menu.css);
@import url(css/banner.css);
@import url(css/banner-bottom.css);
@import url(css/footer.css);

*{
    margin: 0px;
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", arial
}
body{
    font-family: "Yanone Kaffeesatz", arial
}
.header{
    top: 15px;
    position: fixed;
    height: 40px;
    width: 100%;
    background:none;
    z-index: 500;
}
.contenedor{
    width: 95%;
    margin: auto;
}
.header .contenedor{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.frase{
    margin-top: 3px
}
.logo{
    margin: auto 0;
    color: white;
    line-height: 35px
}
.logo{
    text-decoration: none;
    border: 1px none white;
    padding: 0 5px;
}
.logo span{
    background: rgb(50,190,110);
}
img{
    width: 100%
}